%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  = image_tag  "logo-YTS.svg"
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %form.form-inline
        %input.form-control.rounded-12{:placeholder => 'Quick search'}
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Home
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #6AC045"} 4k
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Trending
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Browse Movies
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Login
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Register