</head>
<body class="non-touch">
<header class="nav-bar">
<div class="nav-logo pull-left">
<a href="#"><img src="app/assets/images/logo-YTS.svg" alt="YIFY" /></a>
</div>
<span class="header-slogan hidden-xs pull-left">HD movies at the smallest file size.</span>
<div class="main-nav-links hidden-sm hidden-xs">
<form method="GET" action="" accept-charset="UTF-8" id="quick-search" name="quick-search">
<div id="quick-search-container">
<input id="quick-search-input" name="query" autocomplete="off" type="search" value="Quick search">
<div class="ajax-spinner"></div>
</div>
</form>
<ul class="nav-links">
<li><a href=""> Home </a></li>
<li><a href="" style="color: #6AC045"> 4K </a></li>
<li><a href=""> Trending </a></li>
<li><a href=""> Browse Movies </a></li>
<li><a href=""> Login </a></li>
</ul>