%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  = image_tag  "logo-YTS.svg"
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %form.form-inline
        %input.form-control.rounded-12{:placeholder => 'Quick search'}
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Home
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #6AC045"} 4k
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Trending
    %li.nav-item
      %a.nav-link{:href => '#', :style => "color: #919191"} Browse Movies
  - if current_user
    %li.nav-item
    = link_to('Logout', destroy_user_session_path, :method => 'delete', :class=>"nav-link")
  - else
    %li.nav-item
    = link_to "Login", "/users/sign_in", {class: 'nav-link'}
    %li.nav-item
    = link_to "Register", "/users/sign_up", {class: 'nav-link'}