- content_for :head do
  %link{:rel => 'stylesheet',:href => '/assets/movie_row.scss'}

.row
  - movies.each do |movie|
    .col-sm-4.movie-block-container
      = render partial: "shared/movie_block", locals: {movie: movie}