- content_for :head do
  %link{:rel => 'stylesheet',:href => '/assets/movie_block.css'}

%div
  %div
    = image_tag  "cover.jpg", :class => 'movie_block'
  %div
    %p.movie-title
      = link_to "#{movie.name}", movie_path(movie)
    %p.movie-release-date
      = movie.release_date
