- content_for :head do
  %link{:rel => 'stylesheet',:href => '/assets/movie_row_html.sass'}

.row
  - movies.each do |movie|
    .col-sm-3.movie-block-container
      = render partial: "shared/movie_block", locals: {movie: movie}