- content_for :head do
  %link{:rel => 'stylesheet',:href => '/assets/movie_block.css'}

%div
  %div
    = image_tag  "cover.jpg", :class => 'movie_block'
  %div
    %p{style: 'color: #fff'}
      = link_to "#{movie.name}", movie_path(movie)
    %p{style: 'color: #919191'}
      = movie.release_date
